<div class=" navbar-secondary">
  <div class="container">
    <nav class=" navbar">
      <ul class="nav">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['hoteles']">
            Hoteles
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"[routerLink]="['vuelos']">
            Vuelos
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['vuelos+hotel']">
            Vuelo + Hotel
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['paquetes']">
            Paquetes
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['disney']">
             Disney
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['escapadas']">
            Escapadas
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['seguros']">
            Seguros
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['autos']">
            Autos
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['cruceros']">
            Cruceros
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['ofertas']">
             OFERTAS
          </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['mas']">
            Más
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
