<aside >
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <p class="card-text" [routerLink]="['hoteles']"> Ver hoteles en el mapa.</p>
    </div>
  </div>
  <div>
    <span>Filtrar</span>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ofertas']">
         OFERTAS
        </a>
      </li>
      <li class="list-group-item"routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ofertas']">
         OFERTAS
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ofertas']">
         OFERTAS
        </a>
      </li>
    </ul>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ofertas']">
         OFERTAS
        </a>
      </li>
      <li class="list-group-item"routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ofertas']">
         OFERTAS
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ofertas']">
         OFERTAS
        </a>
      </li>
    </ul>
  </div>
</aside>
