/* You can add global styles to this file, and also import other style files */
body{
  padding-bottom: 50px;
}

.carousel-item{
  widows: 100%;
  height: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px
  }
}
